<table class="table table-striped">
<thead>
<tr>
  <th><%= t('.area') %></th>
  <th><%= t('.region') %></th>
  <th><%= t('.house') %></th>
  <!--<th><%= t('.places') %></th>-->
  <th><%= t('.school') %></th>
  <th><%= t('.kgarten') %></th>
  <th><%= t('.work') %></th>
</tr>
</thead>
<tbody>
<% @housings.each do |housing| %>
    <% coatuu = Koatuu.coatuu_to_json(housing.koatuu_code) %>
    <% work_url = work_class(housing.koatuu_code) %>
    <tr>
      <td><%= coatuu[:area] %> </td>
      <td><%= coatuu[:region] %> </td>
      <td><%= housing.house.name %> (<%= housing.qty_places %>)</td>
      <!--<td><%= housing.qty_places %></td>-->
      <td><i class="<%= school_class(housing.has_school) %>"></i></td>
      <td><i class="<%= kgarten_class(housing.has_kgarden) %>"></i></td>
      <td>
      <% if work_url %>
        <a target="_blank" href="<%= work_url %>">деталі</i></a>
      <% end %>
       </td>
    </tr>
<% end %>
</tbody>
</table>


<div class="flickr_pagination ">
  <div class="page_info">
    <%= page_entries_info @housings %>
  </div>
  <%= paginate @housings , :container => false %>
</div>

