<!--<div class="menu row">-->
  <!--<ul class="home-view nav nav-tabs col-sm-12">-->
    <!--<li class="active col-sm-6"><a href="#"><i class="fa fa-home"></i> <%= t('home.menu.search') %></a></li>-->
    <!--<li class="col-sm-6"><a href="<%=  %>"><i class="fa fa-map-marker"></i> <%= t('home.menu.search_map') %></a></li>-->
  <!--</ul>-->
<!--</div>-->

<div class="search">

  <div class="panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><i class="fa fa-home"></i> <%= t('home.menu.search').upcase %></div>
    <div class="panel-body">
      <%= form_tag(home_search_path, method: "get", remote: true, class: '' ) do %>

          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <%= text_field_tag 'home_search_area', nil, { 'placeholder' => t('home.search.area_placeholder'), :class => 'form-control col-lg-10' } %>
            </div>
            <div class="btn-group">
              <%= text_field_tag 'home_search_region', nil, { 'placeholder' => t('home.search.region_placeholder'), :class => 'form-control' } %>
            </div>
          </div>


          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <label><%= check_box_tag('home_search_has_school') %> <%= t('home.search.school') %></label>
            </div>
            <div class="btn-group">
              <label><%= check_box_tag('home_search_has_kgarden') %> <%= t('home.search.kgarten') %></label>
            </div>
            <div class="btn-group">
              <!--<label><%= check_box_tag('home_search_has_work') %> <%= t('home.search.job') %></label>-->
            </div>
            <div class="btn-group">
              <button class="btn btn-primary" type="submit"><i class="fa fa-search"> <%= t('home.search.search')%></i></button>
            </div>
          </div>
      <% end %>

      <hr>
      <!-- Table -->
      <div id="results" style="height: 500px;"></div>
    </div>
    </div>

  </div>


<div class="map">
  <div id="map1"></div>
</div>

<script id="script_home_search_area" type="text/javascript">
    $(document).ready(function() {
        $("#home_search_area").on("change", function(e) {
            $("#home_search_region").select2("val", "");
        }).select2({
            closeOnSelect:false,
            ajax: {
                url: "/api/get_areas",
                dataType: 'json',
                data: function (term, page) {
                    return {
                        q: term, // search term
                        page_limit: 10,
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter remote JSON data
                    return {results: data, text: "name" };
                }
            },
            formatSelection: function(item) {
                return item.name
            },
            formatResult: function(item) {
                return item.name
            }
        });
    });
</script>

<script id="script_home_search_region" type="text/javascript">
    $(document).ready(function() {
        $("#home_search_region").select2({
            closeOnSelect:false,
            ajax: {
                url: "/api/get_regions",
                dataType: 'json',
                data: function (term, page) {
                    return {
                        area: $("#home_search_area").select2("val"), // search term
                        q: term, // search term
                        page_limit: 10,
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter remote JSON data
                    return {results: data, text: "name" };
                }
            },
            formatSelection: function(item) {
                return item.name
            },
            formatResult: function(item) {
                return item.name
            }
        });
    });
</script>


<script type="text/javascript">
    $(document).ready(function() {
        $(function() {
            // Define variables for OpenLayers
            var center_lat  = '49.234734';      // Sacramento CA latitude
            var center_lon  = '28.4696339';    // Sacramento CA longitude
            var zoom        = 10;
            var mapnik      = new OpenLayers.Layer.OSM();                // OpenStreetMap Layer
            projection_wgs  = new OpenLayers.Projection("EPSG:4326");    // WGS 1984
            projection_smp  = new OpenLayers.Projection("EPSG:900913");  // Spherical Mercator
            position        = new OpenLayers.LonLat(center_lon, center_lat).transform(projection_wgs, projection_smp);

            // Create the map
            map = new OpenLayers.Map('map');    // Argument is the name of the containing div.
            map.addLayer(mapnik);
            map.setCenter(position, zoom);      // Set center of map


            ol.map = map
            ol.LayerOblast= new OpenLayers.Layer.Vector("Overlay")
            ol.LayerRayon = new OpenLayers.Layer.Vector("Overlay")
            ol.LayerRayon = new OpenLayers.Layer.Vector("Overlay")
            ol.projectTo = map.getProjectionObject()


            // Fix map size on dom ready
            ol.stretch_canvas();

            ol.CreateMarkerOblast(49.234734, 28.4696339, 'Житомирська', 120, 20);
        });

        // == Window.resize events ===================================================
        $(window).resize(function() {
            // Fix map size on resize
            ol.stretch_canvas();
        });
    });
</script>
