<div class="panel-default">
<!-- Default panel contents -->
    <div class="panel-heading">
      <i class="fa fa-home"></i> <%= t('home.menu.search').mb_chars.upcase %>
      <a class="pull-right" href="<%= home_map_path %>"><i class="fa fa-map-marker"></i> <%= t('home.menu.search_map') %></a>
    </div>
    <div class="panel-body">
      <%= form_tag(home_search_path, method: "get", remote: true, class: '' ) do %>

          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <%= text_field_tag 'home_search_area', nil, { 'placeholder' => t('home.search.area_placeholder'), :class => 'form-control col-lg-10' } %>
            </div>
            <div class="btn-group">
              <%= text_field_tag 'home_search_region', nil, { 'placeholder' => t('home.search.region_placeholder'), :class => 'form-control' } %>
            </div>
            <div class="btn-group">
                <%= render partial: 'work' %>
            </div>
          </div>


          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <label><%= check_box_tag('home_search_has_school') %> <%= t('home.search.school') %></label>
            </div>
            <div class="btn-group">
              <label><%= check_box_tag('home_search_has_kgarden') %> <%= t('home.search.kgarten') %></label>
            </div>
            <div class="btn-group">
            </div>
            <div class="btn-group">
              <button class="btn btn-primary" type="submit"><i class="fa fa-search"> <%= t('home.search.search')%></i></button>
            </div>
          </div>

      <% end %>
      <!-- Table -->
      <hr/>

      <div id="results" style="height: 500px;">
        <%= render partial: 'results' %>
      </div>
    </div>
</div>


<script id="script_home_search_area" type="text/javascript">
    $(document).ready(function() {
        $("#home_search_area").on("change", function(e) {
            $("#home_search_region").select2("val", "");
        }).select2({

            allowClear:true,
            ajax: {
                url: "/api/get_areas",
                dataType: 'json',
                data: function (term, page) {
                    return {
                        q: term, // search term
                        page_limit: 10,
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter remote JSON data
                    return {results: data, text: "name" };
                }
            },
            formatSelection: function(item) {
                return item.name
            },
            formatResult: function(item) {
                return item.name
            }
        });
    });
</script>

<script id="script_home_search_region" type="text/javascript">
    $(document).ready(function() {
        $("#home_search_region").select2({
            allowClear:true,
            ajax: {
                url: "/api/get_regions",
                dataType: 'json',
                data: function (term, page) {
                    return {
                        area: $("#home_search_area").select2("val"), // search term
                        q: term, // search term
                        page_limit: 10,
                    };
                },
                results: function (data, page) { // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter remote JSON data
                    return {results: data, text: "name" };
                }
            },
            formatSelection: function(item) {
                return item.name
            },
            formatResult: function(item) {
                return item.name
            }
        });
    });
</script>


