<% content_for :sub_menu do %>
    <div class="search-heading">
      <div class="col-md-4 active">
        <i class="fa fa-map-marker"></i> <%= t('home.menu.search_map') %>
      </div>
      <div class="col-md-4">
        <a class="" href="<%= root_path %>"><i class="fa fa-home"></i> <%= t('home.menu.search') %></a>
      </div>
    </div>
<% end %>

<div class="search-container row">

  <div id="mapdiv" class="row" style=" height:600px;">
    <div class="spinner"></div>
  </div>
</div>

<script type="text/javascript">

    function get_regions(code, alon, alat, azoom) {
        console.log(code)
        $.getJSON("<%= api_get_koatuu_geo_path %>", { area: code }, function( data ) {
            /* Создание маркеров области */
            CreateMarkers(LayerRayon, data);

            SetMapCenterZoom(alon, alat, azoom)
        });
    }

    $(document).ready(function () {
        $('#mapdiv').html('');

        window.geo = {}
        window.map = {}
        window.epsg4326 = {}
        window.projectTo = {};

        StartInitMap("mapdiv");
        SetGeoPositionStandart();

        window.LayerOblast=new OpenLayers.Layer.Vector("Overlay");
        window.LayerRayon=new OpenLayers.Layer.Vector("Overlay");

        SetMapCenterZoom(3530470.0647431, 6243369.337484, 6);

        /* Контроллер для показа маркеров областей */
        window.controls = {
            selectorArea: new OpenLayers.Control.SelectFeature(LayerOblast, {onSelect: createPopup, onUnselect: destroyPopup}),
            selectorRegion: new OpenLayers.Control.SelectFeature(LayerRayon, {onSelect: createPopup, onUnselect: destroyPopup})
        };
        map.addControl(controls['selectorArea']);
        map.addControl(controls['selectorRegion']);
        controls['selectorArea'].activate();
        controls['selectorRegion'].activate();



        map.events.register("zoomend", map, function(e) { EventAfterZoom(e.object.zoom); });
        map.events.register("moveend", map, function(e) { Wcenter=e.object.center ; lat=Wcenter.lat; lon=Wcenter.lon;
            console.log(lon + ',' + lat + ',' +  e.object.zoom);
            LimitTop=6863120.762734;LimitBottom=5504681.8962389 ;LimitLeft=2440783.7896614;LimitRight=4601811.453039;
            if (lon < LimitLeft  ||  lon > LimitRight  ||  lat > LimitTop  ||  lat < LimitBottom ){SetMapCenterZoom(3530470.0647431, 6243369.337484, 6);}
        });



        $.getJSON("<%= api_get_koatuu_geo_path %>", function( data ) {
            /* Создание маркеров области */
            CreateMarkers(LayerOblast, data);
        });

    })

</script>
