<%- model_class = NewsItem -%>

<span class="pull-right"><%= l @news_item.issued, format: '%d %B' %></span>

<%= Sanitize.fragment(@news_item.page, Sanitize::Config::RELAXED).html_safe %>

<hr/>

<% unless @news_item.url.blank? %>
    <a class="btn btn-default pull-right" target="_blank" href="<%= Sanitize.clean(@news_item.url, remove_contents: ['script']) %>">
      <%= t('.details') %>...
    </a>
<% end %>

<%= link_to t('.back', :default => t("helpers.links.back")),
            root_path, :class => 'btn btn-default'  %>

