<%= form_for @trud_gov, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :trud_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :trud_code, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :koatuu_code, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :koatuu_code, :class => 'form-control' %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            trud_govs_path, :class => 'btn btn-default' %>
 
<% end %>
