<%= form_for @area, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label t('areas.index.area_name'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t('areas.index.geo'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :geo, :class => 'form-control' %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            areas_path, :class => 'btn btn-default' %>
 
<% end %>
