<% content_for :title, t(".name1") %>
<div class="panel-heading">
  <h1><%= t(".name1")%></h1>
</div>
<% content_for :breadcrombs_title, t("report.main_title") %>
<% content_for :breadcrombs_second_title, t(".name1") %>
<h3>Звіт за <%= @dt %></h3>

<table class="table">
  <% @rep.each do |area| %>
      <tr>
        <td><h4><%= area[:name] %></h4></td>
        <td></td>
      </tr>
      <% area[:houses].each do |house| %>
          <tr>
            <td><%= house[:name] %></td>
            <td><%= house[:qtt] %></td>
          </tr>
      <% end %>
      <tr>
        <td align="right">Всього місць:</td>
        <td><b><%= area[:qtt] %></b></td>
      </tr>
  <% end %>
</table>
