<h3>Звіт за <%= @dt %></h3>
<h4>Загальна кількість місць для проживання</h4>


<table class="table">
  <% @rep.each do |area| %>
  <tr>
    <td colspan="3"><h4><%= area[:name] %></h4></td>
  </tr>
  <tr>
    <td>Код району</td>
    <td>Назва району</td>
    <td>Місць</td>
  </tr>
  <% area[:regions].each do |region| %>
  <tr>
    <td><%= region[:code] %></td>
    <td><%= region[:name] %></td>
    <td><%= region[:qtt] %></td>
  </tr>
  <% end %>
  <tr>
    <td colspan="2" align="right">Всього:</td>
    <td><b><%= area[:qtt] %></b></td>
  </tr>
  <% end %>
</table>
