<%= form_for @housing, :html => { :class => 'form-horizontal' } do |f| %>

    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <%= f.label t('housings.index.koatuu'), :class => 'control-label' %>
        <div class="controls">
          <%= f.select :koatuu_code, grouped_options_for_select(Koatuu.to_tree(@area), @housing.koatuu_code), { prompt: false },  :class => 'form-control' %>
        </div>
      </div>
      <div class="btn-group">
        <%= f.label t('housings.index.house'), :class => 'control-label' %>
        <div class="controls">
          <%= f.select :house_id, House.all.collect {|p| [ p.name, p.id ] }, { prompt: false }, :class => 'form-control' %>
        </div>
      </div>
    </div>

    <hr/>

    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <%= f.text_field :qty_places, :placeholder => t('housings.index.qtt_placeholder'), :class => 'form-control col-lg-10' %>
      </div>
      <div class="btn-group">
        <label class="col-lg-5"><%= f.check_box :has_school %> <%= t('housings.index.school') %></label>
        <label class="col-lg-5"><%= f.check_box :has_kgarden %> <%= t('housings.index.kgarten') %></label>
      </div>
    </div>

    <hr/>

    <%= f.submit t('helpers.links.save', :default => t("helpers.links.save")), :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            housings_path, :class => 'btn btn-default' %>
 
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
        $("#housing_koatuu_code").select2();
        $("#housing_house_id").select2();
    });
</script>
