<%= form_for @housing, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label t('housings.index.koatuu'), :class => 'control-label' %>
    <div class="controls">
      <%= f.select :koatuu_code, grouped_options_for_select(Koatuu.to_tree(@area), @housing.koatuu_code), { prompt: false },  :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t('housings.index.house'), :class => 'control-label' %>
    <div class="controls">
      <%= f.select :house_id, House.all.collect {|p| [ p.name, p.id ] }, { prompt: false }, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t('housings.index.qttplaces'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :qty_places, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t('housings.index.school'), :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :has_school, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t('housings.index.kgarten'), :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :has_kgarden, :class => 'form-control' %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            housings_path, :class => 'btn btn-default' %>
 
<% end %>

<script type="text/javascript">
    $(document).ready(function() {
        $("#housing_koatuu_code").select2();
        $("#housing_house_id").select2();
    });
</script>
