<table class="table">
  <thead>
  <tr>
    <th><%= t('housings.index.koatuu') %></th>
    <th><%= t('housings.index.house') %></th>
    <th><%= t('housings.index.qtt') %></th>
    <th><%= t('housings.index.school') %></th>
    <th><%= t('housings.index.kgarten') %></th>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @housings.each do |housing| %>
      <% koatuu = Koatuu.coatuu_to_json(housing.koatuu_code) %>
      <tr>
        <td><%= koatuu[:region] || koatuu[:city] %> </td>
        <td><%= housing.house.name %></td>
        <td>
          <%= form_for housing, remote: true, format: :json, :html => { :class => 'edit_housing_qttplaces' } do |f| %>
            <div class="input-group" style="width: 150px">

              <%= f.text_field :qty_places, :placeholder => t('housings.index.qtt_placeholder'), :class => 'form-control' %>

              <span class="input-group-btn">
                    <button class="save btn btn-secondary" ><i class="fa fa-check"></i></button>
              </span>
            </div>
            <label id="error" style="display: none; color: red;">Введіть число.</label>
          <% end %>
        </td>
        <td><i class="<%= school_class(housing.has_school) %>"></i></td>
        <td><i class="<%= kgarten_class(housing.has_kgarden) %>"></i></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_housing_path(housing), :class => 'btn btn-default btn-xs' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function() {
        $(".edit_housing_qttplaces").on("ajax:success", function(e, data, status, xhr) {
            $('#error', this).fadeOut(100)
            $('.form-control', this).fadeOut("fast").fadeIn("fast");
        }).on("ajax:error", function(e, xhr, status, error) {
            $('#error', this).fadeIn(500)
        })
    })
</script>
