<% if @advert_work.errors.any? %>
    <div class="alert-dismissible">
      <div class="alert alert-danger" role="alert">
        <h3><%= t('adverts.form.error_title')%></h3>
        <ul class="">
          <% @advert_work.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
<% end %>

<%= form_for @advert_work, :html => { :class => 'form-horizontal' } do |f| %>
    <%= f.fields_for :advert do |a| %>
        <%= a.hidden_field :id %>
        <%= a.hidden_field :qty_places, :value => 0 %>

        <div id="wizard" class="swMain">
          <ul>
            <li><a href="#step-1">
              <label class="stepNumber">1</label>
                    <span class="stepDesc">
                       <%= t('adverts.form.step')%> 1<br />
                       <small><%= t('.work')%></small>
                    </span>
            </a></li>
            <li><a href="#step-2">
              <label class="stepNumber">2</label>
                    <span class="stepDesc">
                       <%= t('adverts.form.step')%> 2<br />
                       <small><%= t('adverts.form.contact')%></small>
                    </span>
            </a></li>
            <li><a href="#step-3">
              <label class="stepNumber">3</label>
                    <span class="stepDesc">
                       <%= t('adverts.form.step')%> 3<br />
                       <small><%= t('adverts.form.publish')%></small>
                    </span>
            </a></li>
          </ul>

          <div id="step-1">
            <h2 class="StepTitle"><%= t('housings.index.koatuu') %></h2>
            <br/>
            <div class="form-group">
              <div class="controls">
                <%= a.select :koatuu_code, grouped_options_for_select(get_koatuu_tree(), ( @advert_work.advert == nil ? nil : @advert_work.advert.koatuu_code)), { prompt: false },  :class => 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <div class="controls">
                <%= f.select :profession_id, Profession.all.collect {|p| [ p.name, p.id ] }, { prompt: false },  :class => 'form-control' %>
              </div>
            </div>
            <br/>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-8 control-label"><b><%= t('.places')%></b></label>
              <div class="controls col-sm-4">
                <%= f.text_field :places, :class => 'form-control', placeholder: t('.places_placeholder') %>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-8 control-label"><%= t('.salary')%></label>
              <div class="controls  col-sm-4">
                <%= f.text_field :salary, :class => 'form-control', placeholder: t('.salary_placeholder') %>
              </div>
            </div>
          </div>

          <div id="step-2">
            <h2 class="StepTitle"><%= t('adverts.form.contact_step') %></h2>
            <div class="form-group">
              <label for="inputEmail3" class="control-label">E-Mail</label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                <%= a.text_field :email, :class => 'form-control', :readonly => true, placeholder: "example@example.com" %>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="control-label"><%= t('adverts.form.fio') %></label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user-md"></i></div>
                <%= a.text_field :fio, :class => 'form-control', placeholder: t('adverts.form.fio_placeholder') %>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="control-label"><b><%= t('adverts.form.phone') %></b></label>
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-mobile"></i></div>
                <%= a.text_field :phone, { :class => 'form-control' } %>
              </div>
            </div>
          </div>

          <div id="step-3">
            <h2 class="StepTitle"><%= t('adverts.form.notes') %></h2>
            <div class="form-group">
              <div class="controls">
                <%= a.text_area :note, {:rows => 10, :class => 'form-control'} %>
              </div>
            </div>

            <!--<h2 class="StepTitle">Для збереження даних введіть код CAPTCHA</h2>-->
            <!--<%= recaptcha_tags ajax: true %>-->
          </div>
        </div>

    <% end %>
<% end %>


<script type="text/javascript">

    $(document).ready(function() {
        $("form select").select2();
    });

</script>

<script type="text/javascript">

    $(document).ready(function(){
        // Smart Wizard
        $('form #wizard').smartWizard( {
            enableAllSteps: true,
            labelNext: '<%= t('wizard.next') %>', // label for Next button
            labelPrevious:'<%= t('wizard.back') %>', // label for Previous button
            labelFinish: '<%= t('wizard.finish') %>',
            onFinish: onFinishCallback
        });

        function onFinishCallback(){
            $('form').submit()
        }
    });

</script>
