<%= form_for @city, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label t('.name'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t('areas.index.geo'), :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :geo, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t('regions.index.name'), :class => 'control-label' %>
    <div class="controls">
      <%= f.select :region_id, option_groups_from_collection_for_select(Area.all, :regions, :name, :id, :name,  f.object.region_id), { prompt: true }, :class => 'form-control' %>
    </div>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            cities_path, :class => 'btn btn-default' %>
 
<% end %>
