<img src="/assets/left/left_info_1.png" style="width: 100%"></img>
<img src="/assets/left/left_info_3.png" style="width: 100%"></img>

<div class="roadmap">
  <p class="head"><%= t("layouts.banner.roadmap") %></p>

  <p>
    <%= link_to static_download1_url, :class => "btn btn-default" do%>
        <i class="fa fa-file-pdf-o"></i>
        <%= t("layouts.banner.download1")%>
    <%end%>
  </p>

  <p>
    <%= link_to static_download2_url, :class => "btn btn-default" do%>
        <i class="fa fa-file-pdf-o"></i>
        <%= t("layouts.banner.download2")%>
    <%end%>
  </p>

  <p>
    <%= link_to static_download3_url, :class => "btn btn-default" do%>
        <i class="fa fa-file-pdf-o"></i>
        <%= t("layouts.banner.download3")%>
    <%end%>
  </p>

  <p>
    <%= link_to static_download4_url, :class => "btn btn-default" do%>
        <i class="fa fa-file-pdf-o"></i>
        <%= t("layouts.banner.download4")%>
    <%end%>
  </p>
</div>

<span class="banner col-sm-12" style="height: 80px;">
    <%= link_to home_newspapers_path, :class => "" do%>
      <div>
        <i class="fa fa-newspaper-o"></i>
        <%= t("layouts.newspapers")%>
      </div>
    <%end%>
</span>

<span class="banner col-sm-12" style="height: 100px;">
    <%= link_to 'http://dmsu.gov.ua/informatsiya-dlya-pereselentsiv-iz-zoni-ato', {:class => "", :target => "_blank"} do%>
        <div>
              Інформація для громадян, які втратили паспорт
          <p style="background: url('http://static.dmsu.gov.ua/images/poslugi/passpor_grom.jpg') 10px;opacity: 1; top: 0; left: 0; position: absolute; z-index: -1; width: 100%; height: 100%;"></p>
        </div>
    <%end%>
</span>

<span class="banner col-sm-12" style="height: 125px;">
    <%= link_to 'http://www.minjust.gov.ua/50014', {:class => "", :target => "_blank"} do%>
        <div>
          Інформація для фізичних осіб-підприємців з Донбасу
        </div>
    <%end%>
</span>
