<img src="/assets/left/left_info_1.png" style="width: 100%" alt="<%= t('layouts.header.title') %>" title="<%= t('layouts.header.title') %>"
     width="100%" height="100%"
></img>
<img src="/assets/left/left_info_3.png" style="width: 100%"></img>

<div class="roadmap panel-group accordion-caret accordion-group" id="accordion">
    <p class="head" style="margin-bottom: 0"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><%= t("layouts.banner.roadmap") %></a></p>
    <div id="collapseOne" class="panel-collapse collapse" style="margin-top: 0; padding: 0">
        <div class="panel-body" style="padding: 0">
            <p>
                <%= link_to static_download1_url, :class => "btn btn-default" do%>
                <i class="fa fa-file-pdf-o lafa"></i>
                <%= t("layouts.banner.download1")%>
                <%end%>
            </p>
            <p>
                <%= link_to static_download2_url, :class => "btn btn-default" do%>
                <i class="fa fa-file-pdf-o lafa"></i>
                <%= t("layouts.banner.download2")%>
                <%end%>
            </p>
            <p>
                <%= link_to static_download5_url, :class => "btn btn-default" do%>
                <i class="fa fa-file-pdf-o lafa"></i>
                <%= t("layouts.banner.download5")%>
                <%end%>
            </p>
            <p>
                <%= link_to static_download3_url, :class => "btn btn-default" do%>
                <i class="fa fa-file-pdf-o lafa"></i>
                <%= t("layouts.banner.download3")%>
                <%end%>
            </p>
            <p>
                <%= link_to static_download4_url, :class => "btn btn-default" do%>
                <i class="fa fa-file-pdf-o lafa" style="margin-left: -16px"></i>
                <%= t("layouts.banner.download4")%>
                <%end%>
            </p>
            <p>
                <%= link_to static_download6_url, :class => "btn btn-default" do%>
                <i class="fa fa-file-pdf-o lafa" style="margin-left: -16px"></i>
                <%= t("layouts.banner.download6")%>
                <%end%>
            </p>
            <p>
                <%= link_to static_download7_url, :class => "btn btn-default" do%>
                    <i class="fa fa-file-pdf-o lafa" style="margin-left: -16px"></i>
                    <%= t("layouts.banner.download7")%>
                <%end%>
            </p>
            <p>
                <%= link_to static_download10_url, :class => "btn btn-default" do%>
                    <i class="fa fa-file-pdf-o lafa" style="margin-left: -16px"></i>
                    <%= t("layouts.banner.download10")%>
                <%end%>
            </p>
          <p>
            <%= link_to static_download9_url, :class => "btn btn-default" do%>
                <i class="fa fa-file-pdf-o lafa" style="margin-left: -16px"></i>
                <%= t("layouts.banner.download9")%>
            <%end%>
          </p>
          <p>
            <%= link_to static_download8_url, :class => "btn btn-default" do%>
                <i class="fa fa-file-pdf-o lafa" style="margin-left: -16px"></i>
                <%= t("layouts.banner.download8")%>
            <%end%>
          </p>

        </div>
    </div>
  <i class="fa fa-chevron-down"></i>
</div>


<div class="roadmap panel-group accordion-caret accordion-group" id="accordion_banner">
  <p class="head" style="margin-bottom: 0"><a class="collapsed" data-toggle="collapse" data-parent="#accordion_banner" href="#collapseOneBanner"><%= t("layouts.banner.infografics") %></a></p>
  <div id="collapseOneBanner" class="panel-collapse collapse" style="margin-top: 0; padding: 0">
    <div class="panel-body" style="padding: 0">
      <p class="banner col-sm-12" style="height: 240px;">
        <a href="#myModal" data-toggle="modal" name="road_ru_final.png" class="modal_link">
          <%= t("layouts.road")%>
          <img src="/assets/left/road_ru_final.png" style="width: 100%; height: 100%" alt="<%= t('layouts.road')%>" title="<%= t('layouts.road')%>" width="100%" height="100%">
        </a>
      </p>
      <p class="banner col-sm-12" style="height: 240px;">
        <a href="#myModal" data-toggle="modal" name="banner_help.png" class="modal_link">
            <%= t("layouts.help_evacuation")%>
            <img src="/assets/left/banner_help.png" style="width: 100%; height: 100%" alt="<%= t('layouts.help_evacuation')%>" title="<%= t('layouts.help_evacuation')%>" width="100%" height="100%">
        </a>
      </p>
      <p class="banner col-sm-12" style="height: 155px;">
        <a href="#myModal" data-toggle="modal" name="soc_zahyst_child.png" class="modal_link">
            <%= t("layouts.child_welfare")%>
            <img src="/assets/left/soc_zahyst_child.png" style="width: 100%; height: 100%" alt="<%= t('layouts.child_welfare')%>" title="<%= t('layouts.child_welfare')%>" width="100%" height="100%">
        </a>
      </p>
      <p class="banner col-sm-12" style="height: 200px;">
        <a href="#myModal" data-toggle="modal" name="adoption.png" class="modal_link">
          <%= t("layouts.adoption")%>
          <img src="/assets/left/adoption.png" style="width: 100%; height: 100%" alt="<%= t('layouts.adoption')%>" title="<%= t('layouts.adoption')%>" width="100%" height="100%">
        </a>
      </p>
    </div>
  </div>
  <i class="fa fa-chevron-down"></i>
</div>

<div class="roadmap panel-group accordion-caret accordion-group" id="accordion_links">
  <p class="head" style="margin-bottom: 0"><a class="collapsed" data-toggle="collapse" data-parent="#accordion_links" href="#collapseOneLinks"><%= t("layouts.banner.links") %></a></p>
  <div id="collapseOneLinks" class="panel-collapse collapse" style="margin-top: 0; padding: 0">
    <div class="panel-body" style="padding: 0">
        <div class="banner col-sm-12" style="height: 75px;">
            <%= link_to home_newspapers_path, :class => "" do%>
              <div>
                <p style="opacity: 1; z-index: 2; color: #411600"><%= t("layouts.newspapers")%></p>
                <p style="background: url('/assets/left/newspaper.jpg') 10px rgba(0, 0, 0, 0.5);opacity: 0.3; top: 0; left: 0; position: absolute; z-index: 1; width: 100%; height: 100%;"></p>

              </div>
            <%end%>
        </div>
        <div class="banner col-sm-12" style="height: 90px;">
          <noindex>
            <%= link_to 'http://dmsu.gov.ua/informatsiya-dlya-pereselentsiv-iz-zoni-ato', {:class => "", :target => "_blank"} do%>
                <div>
                  <p style="opacity: 1; z-index: 2; color: #411600"><%= t("layouts.lost_passport")%></p>
                  <p style="background: url('http://static.dmsu.gov.ua/images/poslugi/passpor_grom.jpg') 10px;opacity: 0.2; top: 0; left: 0; position: absolute; z-index: 1; width: 100%; height: 100%;"></p>
                </div>
            <%end%>
          </noindex>
        </div>

        <div class="banner col-sm-12" style="height: 110px;">
          <noindex>
            <%= link_to 'http://www.minjust.gov.ua/50014', {:class => "", :target => "_blank"} do%>
                <div>
                  <%= t("layouts.entrepreneurs")%>
                </div>
            <%end%>
          </noindex>
        </div>
        <div class="banner col-sm-12" style="height: 95px;">
          <noindex>
            <%= link_to 'http://unhcr.org.ua/en/?option=com_content&view=article&layout=edit&id=1293', {:class => "", :target => "_blank"} do%>
              <div>
                <%= t("layouts.international_standards_help")%>
              </div>
            <%end%>
          </noindex>
        </div>
    </div>
  </div>
  <i class="fa fa-chevron-down"></i>
</div>



<script>
$(document).ready(function(){
    $('.collapsed').on('click', function () {
        var icon = $(this).parent().parent().children('.fa');
        console.log($(this).parent().parent());
        if(icon.attr('class')=="fa fa-chevron-down"){
            $(this).parent().parent().children('.fa').removeClass("fa-chevron-down").addClass("fa-chevron-up");
        }
        else{
            $(this).parent().parent().children('.fa').removeClass("fa-chevron-up").addClass("fa-chevron-down");
        }
    });
    $('.fa.fa-chevron-down').on('click', function () {
        $(this).parent().find('.head a').click();
    });
});
</script>