<ol class="breadcrumb">
  <li><a class="active" href="<%= root_url %>"><i class="fa fa-home"></i> <%= t('layout.menu.main') %></a></li>
  <li><a href="<%= static_centers_path %>"><i class="fa fa-flag-o"></i> <%= t('layout.menu.centers') %></a></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-info-circle"></i> <%= t('layout.menu.dovidka') %> <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="<%= static_sz_path %>">Соціальний захист населення</a></li>
      <li><a href="<%= static_dms_path %>">Державна міграційна служба</a></li>
      <li><a href="<%= static_zd_path %>">Служби сім'ї, дітей та молоді</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('layout.menu.laws') %> <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a target="_blank" href="http://zakon2.rada.gov.ua/laws/show/2811-12">Державна допомога сім'ям з дітьми »</a></li>
      <li><a target="_blank" href="http://zakon2.rada.gov.ua/laws/show/1058-15">Загальнообов'язкове державне пенсійне страхування »</a></li>
      <li><a target="_blank" href="http://zakon2.rada.gov.ua/laws/show/1751-2001-%D0%BF">Призначення і виплати державної допомоги сім'ям з дітьми »</a></li>
      <li><a target="_blank" href="http://zakon2.rada.gov.ua/laws/show/848-95-%D0%BF">Надання субсидій для відшкодування витрат на оплату ЖКХ »</a></li>
    </ul>
  </li>
  <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t('layout.menu.analitic') %><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <% if current_user %>
        <li><a href="#">Звітність для громадян</a></li>
        <li class="divider"></li>
        <li><a href="<%= report_amount_places_path %>">Загальна кількість місць для проживання</a></li>
        <li><a href="<%= report_amount_by_type_path %>">Загальна кількість місць в розрізі типу житла</a></li>
        <li><a href="#">Загальна кількість вакансій в розрізі регіонів та назв вакансій</a></li>
        <% end %>

        </ul>
  </li>
  <% if user_signed_in? %>
      <li>
        <a data-method="delete" href="<%= destroy_user_session_path %>" rel="nofollow"><i class="fa fa-user-md"></i> <%= t('layouts.Logout') %></a>
      </li>
  <% end %>
</ol>

<!--<form class="search navbar-form navbar-right col-lg-5" role="search">-->
<!--<div class="form-group">-->
    <!--<input type="text" class="form-control" placeholder="<%= t('home.search.placeholder') %>">-->
    <!--<span class="form-group-btn">-->
      <!--<button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>-->
    <!--</span>-->
<!--</div>-->
<!--</form>-->
