<%  host = request.original_url.split(/[?]/)[0] %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : t('layouts.header.title') %></title>
    <%= csrf_meta_tags %>
    <!-- link -->
    <link rel="alternate" hreflang="uk" href="<%= host %>?locale=uk" data-turbolinks-track="true">
    <link rel="alternate" hreflang="ru" href="<%= host %>?locale=ru" data-turbolinks-track="true">
    <link rel="SHORTCUT ICON" href="/favicon.ico" type="image/x-icon">


    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag '/favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <%= yield :head %>

  </head>
  <body>
    <div class="container">
      <div class="header row">
        <%= render :partial => 'layouts/top' %>
      </div>

      <div class="menu row">
          <%= render :partial => 'layouts/menu' %>
          <%= yield :sub_menu %>
      </div>

      <div class="main row">
        <% if(content_for?(:breadcrombs_second_title)) %>
            <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb" class="breadcrumbs">
              <a href="<%= root_url %>" itemprop="url" style="float: left; display: block">
                <span itemprop="title">
                  <%= t('layouts.menu.main') %>
                </span>
              </a>
              <div itemprop="child" itemscope itemtype="http://data-vocabulary.org/Breadcrumb" style="float: left">
                &nbsp; › &nbsp;
                <a href="<%= request.original_url %>" itemprop="url">
                  <span itemprop="title"><%= yield(:breadcrombs_second_title) %></span>
                </a>
              </div>
              <div class="clear"></div>
            </div>
        <% end %>
        <div class="left col-md-2 col-sm-12 col-xs-12">
          <%= render :partial => 'layouts/left' %>
        </div>

        <%= render :partial => 'layouts/modal_image' %>


        <div class="col-md-7 col-sm-12 col-xs-12">
          <div class="bootstrap_alert">
            <%= bootstrap_flash %>
          </div>

          <%= yield %>

        </div>

        <div class="sidebar col-md-3 col-sm-12 col-xs-12">
          <%= render :partial => 'layouts/news' %>
        </div>
      </div>

      <div class="row">
        <%= render :partial => 'layouts/links' %>
      </div>

      <footer class="row">
        <p><a style="color:white;" href="<%= housings_path %>">&copy;</a> 2014 <%= t('layouts.footer.copy') %></p>
      </footer>
    </div>

  </body>
</html>
